@font-face {
    src: url(fonts/Roboto-VariableFont_wdth,wght);
    font-family: Roboto-VariableFont_wdth,wght;
}
@font-face {
    src: url(fonts/Roboto-Italic-VariableFont_wdth,wght);
    font-family: Roboto-Italic-VariableFont_wdth,wght;
}

h1{
    font-family:Roboto-VariableFont_wdth,wght;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}